body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#111827;
    padding:40px;
    border-radius:12px;
    width:350px;
    text-align:center;
    box-shadow:0 0 30px rgba(0,0,0,0.6);
}

h1{
    color:#38bdf8;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:6px;
    background:#1f2933;
    color:white;
}

button{
    width:100%;
    padding:12px;
    background:#38bdf8;
    border:none;
    border-radius:6px;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#0ea5e9;
}
pre{
background:#020617;
padding:15px;
border-radius:8px;
text-align:left;
white-space:pre-wrap;
}

.correct{
color:#22c55e;
}

.wrong{
color:#ef4444;
}

textarea{
width:100%;
margin-top:15px;
padding:12px;
background:#020617;
color:white;
border:none;
border-radius:8px;
}